body{
    background-color: palegreen;
}
header{
    text-align: center;
    background-color: aqua;
    width: 100%;
    height: 50px;
    margin: 10px;
    padding: 20px;
}
.container{
    background-color: blanchedalmond;
}